doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Kreiranje aplikacija brzinom Meteora

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='webfonts/fonts.css')

  body

    article

      section
        h1 Kreiranje aplikacija brzinom Meteora

      section
        h2 Šta je Meteor?
        h3 Meteor is a complete open source platform for building web and mobile apps in pure JavaScript.

      section
        h2 Platform
        ul
          li Node.js
          li MongoDB
          li Meteor Blaze (Reactive UI Library)
          li Meteor Tracker (reactive programming)
          li Distributed Data Protocol (REST for websockets)
          li Meteor Livequery (live database queries)

      section
        h2 Principi na kojima je zasnovan Meteor
        ul
          li Data on the wire
          li One language
          li Database everywhere
          li Latency compensation
          li Full stack reactivity
          li Embrace the Ecosystem
          li Simplicity Equals Productivity

      section
        h2 Kako je moguće kreirati aplikacije brže i zašto?
        ul
          li Nije potreban serverski api
          li Setup projekta je sveden na jednu komandu
          li Nema potrebe za build procesom
          li Jaka integracija sa 3rd party paketima

      section
        h2 Mogući problemi
        ul
          li Suviše magije (skaliranje?)
          li Relativno mala zajednica
          li Nedostatak iskustva (testiranje?, arhitektura?)

      section
        h2 Da li kreirati aplikacije Meteorom ili isključivo prototipe?

      section
        h2 Demo

    script(src='build/build.js')
